body{
	background: url(../images/bg_pattern.jpg);
	padding: 0 !important;
}

h1,h2,h3,h4{
	color: #FFF;
}

tr{
	background: #FFF;
}
thead tr {
	background: #7AF;
}


.content{
	width: 300px;
	margin: 0 auto;
}

.content-container{
	padding-top: 20px !important;
	padding: 5px;
	padding-left: 0;
	padding-right: 0;
}

.content-body{
	width: 250px;
	margin: 0 auto;
}

.btn-big{
	padding: 15px 0px;
	width: 100%;
}

.bolded{
	font-weight: bold;
}

.header-logo{
	padding-top: 10px;
	padding-bottom: 5px;
	width: 280px;
	margin: 0 auto;
}

.divider{
	height: 1px;
    margin: 15px 0;
    width: 100%;
    background: #FAFAFA;
}

.list-header{
	padding: 0px 15px;
}

.control-label, .control-group, legend, label{
	color: #FFF !important;
}

.btn-bright{
	color: #222;
	background: #FEC830;
}

.btn-bright:hover{
	color: #555;
	background: #FFD941;
}

.balance{
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-family: Telex, sans-serif;
	padding-bottom: 25px;
}
 .my-account{
 	font-size: 18px;
 	padding: 15px;
}

form{
	margin-bottom: 0 !important;
}
p, ul{
	color: #FFF;
}
.copy-bottom{
	color: #FFF;
	position: relative;
    text-align: center;
    top: 45px;
}
.footer{
	bottom: 0px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    width: 100%;
}

.transfer-placeholder{
	padding: 10px 10px 50px;
}
.transfer-placeholder div{
	color: #FFF;
}
.btn-mapa{
	margin: 0 auto;
    padding-top: 15px;
    width: 265px
}