{% extends "layout.html" %}
	{% block content %}
		<div class="header-logo">
			<a href="{{ url_for('dashboard') }}">
				<img src ="{{ url_for('static', filename='images/logo_login.png') }}">
			</a>
		</div>
		
		<div class="content-container">
			<form class="form-horizontal" method="POST" action="{{ url_for('login') }}">

				<fieldset class="content-body">
					<h1>By QWERTY</h1>
					<p>Lorem ipsum dolor sit amet</p>
					<ul>
						<li>John Doe 4</li>
						<li>John Doe 4</li>
						<li>John Doe 3</li>
						<li>John Doe 2</li>
					</ul>


					<div class="copy-bottom">
						<div style="padding: 10px">
							<a class="btn btn-big" href="{{ url_for('dashboard') }}">
					    		 <i class="icon-circle-arrow-left"></i> Regresar
					    	</a>

						</div>
						<div>HackDay 2013</div>
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">ComuniCash</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/rviscarra/hackday-2013-web" property="cc:attributionName" rel="cc:attributionURL">QWERT</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES">Creative Commons Reconocimiento-NoComercial-SinObraDerivada 3.0 Unported License</a>
					</div>
				</fieldset>

			</form>
		</div>
{% endblock %}