{% extends "layout.html" %}
	{% block content %}
		<div class="list-container">
			<div class="list-header"><h3>Abonos a tu cuenta</h3></div>
			{% if received_trx is defined %}
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>ID</th>
						<th>FECHA Y HORA</th>
						<th>MONTO</th>
						<th>POR</th>
					</thead>
					<tbody>
					{% for transaction in received_trx %}
						<tr>
							<td> {{ transaction.tid }} </td>
							<td> {{ transaction.created_at.strftime('%d %B %Y %I:%M:%S %p') }} </td>
							<td> <span class="text-success">+${{ transaction.amount }}</span> </td>
							<td> {{ transaction.sender.account }} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div class="transfer-placeholder">
					<div>Aún no has recibido pagos a tu cuenta</div>
				</div>
			{% endif %}
		</div>
		<div class="list-container">
			<div class="list-header"><h3>Pagos con tu cuenta</h3></div>
			{% if sent_trx is defined and sent_trx|length > 0 %}
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>ID</th>
						<th>FECHA Y HORA</th>
						<th>MONTO</th>
						<th>PARA</th>
					</thead>
					<tbody>
					{% for transaction in sent_trx %}
						<tr>
							<td> {{ transaction.tid }} </td>
							<td> {{ transaction.created_at.strftime('%d %B %Y %I:%M:%S %p') }} </td>
							<td> <span class="text-error">-${{ transaction.amount }}</span> </td>
							<td> {{ transaction.receiver.account }} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
			<div class="transfer-placeholder">
				<div>Aún no has realizado pagos con tu cuenta</div>
				<div>Utilizala para obtener más beneficios</div>
			</div>
			{% endif %}
		</div>
		<div class="balance text-right">
  			<span>Tu saldo:</span>
  			<strong>${{ balance }}</strong>
		</div>

		<div class="copy-bottom">
			
						<div style="padding: 10px">
							<a class="btn btn-big" href="{{ url_for('dashboard') }}">
					    		 <i class="icon-circle-arrow-left"></i> Regresar
					    	</a>

						</div>
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">ComuniCash</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/rviscarra/hackday-2013-web" property="cc:attributionName" rel="cc:attributionURL">QWERT</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES">Creative Commons Reconocimiento-NoComercial-SinObraDerivada 3.0 Unported License</a>
					</div>
	{% endblock %}
