{% extends "layout.html" %}
	{% block content %}
		<div class="header-logo">
			<a href="{{ url_for('dashboard') }}">
				<img src ="{{ url_for('static', filename='images/logo_login.png') }}">
			</a>
		</div>
		<div class="content-container">
			<div class="content-body">
				<div class="control-group my-account">
					Mi cuenta: <a href="{{ url_for('list_transactions') }}">{{ phone }}({{ account }})</a>
				</div>
				<div class="control-group">
					<a href="{{ url_for('send') }}" class="btn btn-primary btn-big btn-bright">
						Transferir 
					</a>
				</div>
				<div class="control-group">
					<a href="{{ url_for('list_transactions') }}" class="btn btn-primary btn-big btn-inverse">
						Consultar transacciones
					</a>
				</div>
				<div class="control-group">
					<a href="{{ url_for('logout') }}" class="btn btn-primary btn-big btn-inverse">
						Salir
					</a>
				</div>
				<div class="divider"></div>
				<div class="control-group">
					<a href="{{ url_for('about') }}" class="btn btn-primary btn-big btn-inverse">
						Acerca de Comunicash
					</a>
				</div>
			</div>
		</div>
		
{% endblock %}