{% extends "layout.html" %}
	{% block content %}
		<div class="header-logo">
			<a href="{{ url_for('dashboard') }}">
				<img src ="{{ url_for('static', filename='images/logo_login.png') }}">
			</a>
		</div>
		<div class="content-container">
			<div class="content-body">
				<div class="control-group">
					<a href="{{ url_for('login') }}" class="btn btn-primary btn-big btn-bright">
						Iniciar sesión
					</a>
				</div>
				<div class="control-group">
					<a href="{{ url_for('about') }}" class="btn btn-primary btn-big btn-inverse">
						Acerca de 
						Comunicash
					</a>
				</div>
			</div>
			<div class="copy-bottom">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">ComuniCash</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/rviscarra/hackday-2013-web" property="cc:attributionName" rel="cc:attributionURL">QWERT</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES">Creative Commons Reconocimiento-NoComercial-SinObraDerivada 3.0 Unported License</a>
		</div>
		</div>
		
{% endblock %}