<!doctype html>
<html>
	<head>
		<title>Comunicash</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css">
		<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{{ url_for('static', filename='styles/bootstrap/js/bootstrap.js') }}"></script>
	</head>
	<body>
		<div class="btn-mapa">
			<a class="btn btn-primary" href="{{ url_for('map') }}">Buscar establecimientos Comunicash</a>
		</div>
		<div class="content">
			{% block content %}{% endblock %}
		</div>

	</body>
</html>