{% extends "layout.html" %}
	{% block content %}
		<div class="header-logo">
			<a href="{{ url_for('dashboard') }}">
				<img src ="{{ url_for('static', filename='images/logo_login.png') }}">
			</a>
		</div>
		{% if error == True %}
			<div class="alert alert-error">
		        <button type="button" class="close" data-dismiss="alert">&times;</button>
		    	<strong>Error</strong><br>
		    	Los datos que ingresaste no son correctos.<br>
		    	Revisa y prueba una vez más
		    </div>
		{% endif %}
		<div class="content-container">
			<form class="form-horizontal" method="POST" action="{{ url_for('login') }}">

				<fieldset class="content-body">
					<div class="control-group">
					    <legend class="bolded">Inicio de sesión</legend>

					    <label>Cuenta:</label>
					    <input class="input-xlarge" type="text" name="account">
					</div>

				    <div class="control-group">
				    	<label>Contraseña:</label>
				    	<input class="input-xlarge" type="password" name="password">
				    </div>

				    <div class="control-group">
				    	<button type="submit" class="btn btn-primary btn-big">
				    		<i class="icon-white icon-ok-sign"></i> Iniciar
				    	</button>
				    </div>
				    <div class="copy-bottom">
				    	<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">ComuniCash</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/rviscarra/hackday-2013-web" property="cc:attributionName" rel="cc:attributionURL">QWERT</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES">Creative Commons Reconocimiento-NoComercial-SinObraDerivada 3.0 Unported License</a>
				   </div>
				</fieldset>

			</form>
		</div>
{% endblock %}