{% extends "layout.html" %}
	{% block content %}
	<style>
		#map {
			min-width: 300px;
			height: 480px;
			border-radius: 10px;
			-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		}

		.padded {
			padding: 10px 0;
			text-align: center;
		}
	</style>
	<div class="container-fluid">
		<div class="row-fluid">
			<form class="form-horizontal">
				<div class="span12 padded">
					<input type="text" class="input-medium" id="search_term" 
						placeholder="Termino de B&uacute;squeda"
					</div>
					<button type="button" class="btn btn-primary" id="search">Buscar</button>
				</div>
			</form>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div id="map"></div>
			</div>
		</div>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAuwK7aYmkpMYd1Fe1MA6oRN6FVnZheH9U&sensor=true">
	</script>
	<script type="text/javascript">
		$(function() {
			var currentLocation = null;
			var map;
			var markers = [];

			var showMap = function(position) {
				var mapOptions = {
					center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
					zoom: 11,
					mapTypeId: google.maps.MapTypeId.ROADMAP
		        };
		        map = new google.maps.Map(document.getElementById("map"), mapOptions);

		        currentLocation = position;
			};

			if ( navigator.geolocation ) {
				navigator.geolocation.getCurrentPosition(showMap);
			} else {
				showMap({
					coords: {
						latitude: -34.397, 
						longitude: 150.644
					}
				})
			}

			var submitSearch = function(evt) {
				evt.preventDefault();
				var term = $('#search_term').val();

				if( term ) {
					$.ajax({
						type: 'get',
						url: '/search/' + term,
						dataType: 'json',
						data: {
						}, success: function(response) {
							var locations = response.locations;
							$.each(markers, function(i, m) {
								m.setMap(null);
							});
							markers = [];
							if ( locations.length == 0 ) {
								alert('La busqueda no genero resultados');
							} else {
								$.each(locations, function(i, l) {
									var marker = new google.maps.Marker({
							            position: new google.maps.LatLng(l.lat, l.lon),
							            map: map,
							            title: l.name,
							            icon: '{{ url_for("static", filename="images/cashpoint.png") }}'
							        });
							        markers.push(marker);
								});
							}
						}
					});
				}
			};

			$('#search').click(submitSearch);

			$('#search_term').keypress(function(evt) {
				if ( evt.which == 13 ) {
					evt.preventDefault();
					submitSearch(evt);
				}
			}).focus();
			
		});
	</script>
{% endblock %}