{% extends "layout.html" %}
	{% block content %}
		<div class="header-logo">
			<a href="{{ url_for('dashboard') }}">
				<img src ="{{ url_for('static', filename='images/logo_login.png') }}">
			</a>
		</div>

		<div class="content-container">
			<form class="form-horizontal" method="POST" action="{{ url_for('transfer') }}">
				<input id="phone" type="hidden" name="phone" value="{{ phone }}">
				<fieldset class="content-body">
					<div class="flash"></div>
					<div class="control-group">
					    <legend class="bolded">Transferencia</legend>

					    <label>Cuenta de destino:</label>
					    <input id="account" 
					    	placeholder="xxxxx" maxlength="5" 
					    	class="input-xlarge" type="text" name="account">
					</div>

				    <div class="control-group">


				    	<label>Monto:</label>

				    	<div class="input-prepend" style="width:100%">
						  <span style="color:#000" class="add-on">$</span>
						  <input 
						  	style="width:90%" id="amount" 
						  	class="span2 input-xlarge" id="appendedPrependedInput" 
						  	name="amount" type="text" placeholder="000.00">
						</div>
				    	
				    </div>

				    <div class="control-group">
				    	<button id="send" type="submit" class="btn btn-primary btn-big">
				    		<i class="icon-white icon-share"></i> Enviar
				    	</button>
				    </div>
				    <a class="btn btn-big" href="{{ url_for('dashboard') }}">
				    	 <i class="icon-circle-arrow-left"></i> Regresar
				    </a>

				</fieldset>

			</form>
		</div>
		<script>
			$('#send').on('click', function(e){

				e.preventDefault();
				var phone = $('#phone').val();
				var amount = $('#amount').val();
				var account = $('#account').val();

				$.ajax({
					url: '{{ url_for('transfer') }}',
					method: 'POST',
					data: {
						phone: phone,
						account: account,
						amount: amount
					}
				}).done(function(data){
					var html = '';
					if(data.status == 'SUCCESS'){	
						html += '<div style="display:none" class="alert alert-success">'+
	        						'<button type="button" class="close" data-dismiss="alert">&times;</button>'+
	    							'<strong>¡Exito!</strong><br>'+
	    							'Tu transferencia de <strong>$'+ amount +'</strong> a la cuenta <strong>' + account + '</strong> ha sido exitosa.'+
	    						'</div>';
					}else{
						html += '<div style="display:none" class="alert alert-error">'+
	        						'<button type="button" class="close" data-dismiss="alert">&times;</button>'+
	    							'<strong>Error</strong><br>'+
	    							'Tu transferencia de <strong>$'+ amount +'</strong> a la cuenta <strong>' + account + '</strong> no pudo completarse.<br>'+
	    							data.data+
	    						'</div>';

					}

					$('#amount').val('');
					$('#account').val('');
	    			$('.flash').html(html);
	    			$('.alert').fadeIn();

				});
				console.log();
			});
		</script>
{% endblock %}